@page
@model Projekt.Pages.Report.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">

<style>
    .text-style {
        font-family: 'Space Mono', monospace;
    }

    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
    }
</style>

<div class="text-style">
    <h1>Lista nowych zgłoszeń</h1>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Animals[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Animals[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Animals[0].ReportDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Animals)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                       <p>@item.Description</p>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReportDate)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Szczegóły</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

