@page
@model WorkerResponsibilityModel
@{
    ViewData["Title"] = "Twoje Obowiązki";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">

<style>
    .napis {
        margin: 10px 0px;
        font-family: 'Space Mono', monospace;
    }

    h3 {
        font-size: 30px;
    }

    h3 {
        font-size: 15px;
    }

    table, th, td {
        border: 1px solid black;
        width: 10px;
    }

</style>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].JobStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].JobEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].Responsibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].JobAccepted)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody> 
        @foreach (var item in Model.Jobs)
        {
            @if (String.Equals(@item.WorkerMail, User.Identity.Name))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobEndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Responsibility)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobAccepted)
                    </td>
                    <td>
                        {
                        <a asp-page="./CancelResponsibility" asp-route-id="@item.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>