@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">

<style>
    .post {
        margin: 40px 0px;
        font-family: 'Space Mono', monospace;
    }

    img {
        margin: 20px 0px;
        max-width: 75%;
        max-height: 100%;
        clear:
    }

    h3 {
        font-size: 15px;
    }

    h4 {
        font-size: 15px;
        clear: left;
    }

    .distance {
        margin: 50px 0px;
    }

    .chuj {
        border-style: ridge;
        margin: 25px 0px;
        padding: 20px;
        border-radius: 25px;
    }

    #button2 {
        background-color: #f2182a;
        float: left;
        clear: left;
    }

    #button1 {
        background-color: #1873f2;
        float: left;
        clear: left;
    }

    .post-distance {
        margin: 20px 0px;
        clear: left;
    }
    .comments{
        border-style: ridge;
        border-radius: 25px;
        padding: 15px 20px;
    }
</style>

<div class="text-center">
    <h1 class="display-4" style="font-family: 'Space Mono', monospace;">Aktualności</h1>
</div>

<div class="text-center post">
    <link rel="stylesheet" href="~/css/Buttons.css" />
    <link rel="stylesheet" href="~/css/Border.css" />
    @if (Model.Animals != null)
    {
        <ul>
            @foreach (var element in Model.Animals)
            {
                <div class="chuj">
                    <h2 style="float: left;"><b>Zaginął @element.Name! </b></h2>
                    <h3 style="float: right;"><b>Data dodania:</b> @element.ReportDate</h3>
                    <br>
                    <h4 style="float: left;"><b>Opis:</b> @element.Description</h4>
                    <br>
                    <div class="text-center distance">
                        <img src="@element.FilePath">
                        <br>
                        <div class="distance">
                            <form method="post">
                                <button type="submit" id="button2" class="button inner" asp-page-handler="Reject" name="id" value="@element.Id"><span>Usuń post </span></button>
                            </form>
                        </div>

                        <form method="post">
                            <label class="input" asp-for="Post.Content" hidden></label>
                            <input type="text" style="margin: 10px 0px;" class="form-control" id="formGroupExampleInput" placeholder="Wprowadź treść komentarza" asp-for="Post.Content" />
                            <button type="submit" id="button1" class="button inner" name="id" value="@element.Id"><span>Wyślij </span></button>
                        </form>
                        <br>
                        <br>
                        <h5 style="float: left">Komentarze</h5>
                        <br>
                        <div class="comments">
                            @foreach (var item in Model.Posts)
                            {
                                @if (item.AnimalsId == element.Id)
                                {
                                    <div class="form-group post-distance">
                                        @if (@item.UserName == null)
                                        {
                                            <h6 style="float: left;">Użytkownik</h6>
                                        }
                                        else
                                        {
                                            <h6 style="float: left;">@item.UserName</h6>
                                        }
                                        <input asp-for="@item.Content" class="form-control" disabled />
                                        <span asp-validation-for="@item.Content" class="text-danger"></span>
                                    </div>
                                }
                            }
                        </div>

                    </div>
                </div>
            }
        </ul>

    }
</div>
