@page
@model JobScheduleModel
@{
    ViewData["Title"] = "Dobierz obowiązki";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">

<style>
    .napis {
        margin: 10px 0px;
        font-family: 'Space Mono', monospace;
    }

    h3 {
        font-size: 30px;
    }

    h3 {
        font-size: 15px;
    }

    table, th, td {
        border: 1px solid black;
        width: 10px;
    }

</style>
<table class="table">
    <thead>
        <tr>
            <th>
                Start
            </th>
            <th>
                Koniec
            </th>
            <th>
                Obowiązek
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody> 
        @foreach (var item in Model.Jobs)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobEndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Responsibility)
                    </td>
                    <td>
                     @if (@item.WorkerMail==null)
                     {
                        <a asp-page="./AddResponsibility" asp-route-id="@item.Id"><input type="submit" value="Wybierz" class="btn btn-primary" /></a>
                    }
                    else
                    {
                        <button type="button" class="btn btn-secondary" style="pointer-events: none;">Zarezerwowane</button>
                    }
                </td>
                </tr>
        }
    </tbody>
</table>