@page
@model Projekt.Pages.Announcement.AdoptionListModel
@{
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">

<style>
    .post {
        margin: 40px 0px;
        font-family: 'Space Mono', monospace;
    }

    img {
        margin: 20px 0px;
        max-width: 75%;
        max-height: 100%;
        clear:
    }

    h3 {
        font-size: 15px;
    }

    h4 {
        font-size: 15px;
        clear: left;
    }

    .distance {
        margin: 50px 0px;
    }

    .border-style {
        border-style: ridge;
        margin: 25px 0px;
        padding: 20px;
        border-radius: 25px;
    }

    #button2 {
        background-color: #f2182a;
        float: left;
        clear: left;
    }

    #button1 {
        background-color: #1873f2;
        float: left;
        clear: left;
    }

    .post-distance {
        margin: 20px 0px;
        clear: left;
    }
    .item-distance{
        margin: 5px 0px 0px;
    }

    .comments {
        border-style: ridge;
        border-radius: 25px;
        padding: 10px 20px;
    }

    img {
        width: 25%;
        margin: auto;
    }

    .carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */ {
        filter: invert(100%);
    }

    .carouselImg img {
        width: auto;
        height: 225px;
        max-height: 225px;
    }

    .left-size {
        clear: left;
    }

    .text-left-size {
        clear: left;
        float: left;
    }

</style>

<h2 class="text-center">Zwierzęta do adopcji</h2>

<div class="text-center post">
    <link rel="stylesheet" href="~/css/Buttons.css" />
    <link rel="stylesheet" href="~/css/Border.css" />
    @if (Model.Adoptions != null)
    {
        <ul>
            @foreach (var element in Model.Adoptions)
            {
                <div class="border-style">
                    <div class="text-center distance">
                        <div id="carouselExample-@element.Id" class="carousel slide w-100 text-center" data-bs-ride="carousel" data-bs-interval="false">
                            <div class="carousel-inner">
                                @{
                                    Boolean first = true;
                                }
                                @foreach (var item in element.FilePaths)
                                {
                                    <div class="carousel-item @( first ? "active" : "" )">
                                        <div class="d-flex justify-content-center w-100 h-100 carouselImg">
                                            <img class="d-block w-40 center-block" src="/@item.FilePath" alt="First slide">
                                        </div>
                                    </div>

                                    first = false;
                                }
                            </div>
                            <button class="carousel-control-prev" data-bs-target="#carouselExample-@element.Id" type="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" data-bs-target="#carouselExample-@element.Id" type="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <br>
                        @if (User.Identity.Name == "admin@gmail.com")
                        {
                            <div class="distance">
                                <form method="post">
                                    <button type="submit" id="button2" class="button inner" asp-page-handler="Reject" name="id" value="@element.Id"><span>Usuń post </span></button>
                                </form>
                            </div>
                        }
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="left-size">
                        <h5 style="float: left;">Opis zwierzaka</h5>
                        <br>
                        <br>
                        <div class="item-distance">
                            <h6 style="float: left;"><b>Imię</b></h6><br>
                            <h6 class="text-left-size" style="margin: 5px 0px;">@element.Name</h6>
                        </div>
                        <br>
                        <br>
                        <div class="item-distance">
                            <h6 style="float: left;"><b>Gatunek</b></h6><br>
                            <h6 class="text-left-size" style="margin: 5px 0px;">@element.Species</h6>
                        </div>
                        <br>
                        <br>
                        <div class="item-distance">
                            <h6 style="float: left;"><b>Rasa</b></h6><br>
                            <h6 class="text-left-size" style="margin: 5px 0px;">@element.Breed</h6>
                        </div>
                        <br>
                        <br>
                        <div class="item-distance">
                            <h6 style="float: left;"><b>Wiek</b></h6><br>
                            <h6 class="text-left-size" style="margin: 5px 0px;">@element.Age</h6>
                        </div>
                        <br>
                        <br>
                        <div class="item-distance">
                            <h6 style="float: left;"><b>Opis</b></h6><br>
                            <h6 class="text-left-size" style="margin: 5px 0px;">@element.Description</h6>
                        </div>
                    </div>
                    <br>
                </div>
            }
        </ul>
    }
</div>