@page
@model DeleteApplicationModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">


<h1>Odrzuć aplikację</h1>

<h3>Jesteś pewien, że chcesz odrzucić aplikację?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Start:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.JobStartDate)
        </dd>
        <dt class="col-sm-2">
            Koniec:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.JobEndDate)
        </dd>
        <dt class="col-sm-2">
            Obowiązek:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Responsibility)
        </dd>
        <dt class="col-sm-2">
            Pracownik:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.WorkerMail)
        </dd>
    </dl>
    <div>
        <form method="post">
            <label class="input" asp-for="Letterbox.Content"></label>
            <textarea class="form-control input-desc" placeholder="Powód odrzucenia zgłoszenia" asp-for=Letterbox.Content></textarea><br />

            <input type="hidden" asp-for="Job.Id" />
            <input type="submit" value="Tak" class="btn btn-danger" />
            <a asp-page="./ApproveResponsibility"><button type="button" class="btn btn-secondary">wróć</button> </a>
        </form>
    </div>


    <br />

    <div>
        @if (Model.AlertMessage != null)
        {
            <div class="alert alert-primary" role="alert">
                <h6><b>Spróbuj ponownie</b></h6>
                @Model.AlertMessage
            </div>
        }
    </div>
</div>